./dicoms/*
dicoms
dicoms/
*.dcm

testes.py
dicoms/0fjeqffgptvghl67enh9768ja0gr1cxa/*
dicoms/0fjeqffgptvghl67enh9768ja0gr1cxa/*.*
dicoms/0fjeqffgptvghl67enh9768ja0gr1cxa/*.dcm

dicoms/0fjeqffgptvghl67enh9768ja0gr1cxa
dicoms/0fjeqffgptvghl67enh9768ja0gr1cxa
/Volumes/GoogleDrive/My Drive/WORK/GitHub/work-at-machiron/dicoms/1cjggtlk17z3yzmbu1sa94vueum4jqw3
/Volumes/GoogleDrive/My Drive/WORK/GitHub/work-at-machiron/dicoms/1cjggtlk17z3yzmbu1sa94vueum4jqw3

dicoms/1okl5s5owdr0q8lwpq4kfiqwpdeuj5tn
